/* common.css */

body {
    background: url('/images/background3.jpg') no-repeat center center/cover;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.bg-overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100%;
    padding-top: 60px;
}

.card-custom {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    color: #fff;
    padding: 30px;
    border-radius: 10px;
}
